 /* .control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
} */

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.carouselProduces {
  margin-top: 8rem;
  background: red;
  background: url("./../../assets/dot.png");
  background-repeat: no-repeat;
  background-size: 25%;
}